body {
    width: 100vw;
    height: 100vh;
    margin: 0;
  
    .container {
      width: 100%;
      height: 100%;
      scroll-snap-type: y mandatory;
      overflow-y: scroll;
  
      #q {
        display: flex;
        justify-content: left;
        align-items: center;
        width: 100vw;
        height: 100vh;
        scroll-snap-align: start;
  
        &:nth-of-type(1) {
          background-color: rgb(28, 28, 28);
          color: #9C9990;
        }
  
        &:nth-of-type(2) {
          background-color: rgb(38, 38, 38);
          color: #CFD2B2;
        }
  
        &:nth-of-type(3) {
          background-color: rgb(48, 48, 48);
          color: #E0D8DE;
        }
      
        h1 {
          font-family: Arial, Helvetica, sans-serif;
          font-size: 3em;
          margin: 30px;
  
        }

        #list {
            margin-top: 0px;
        }
  
        ul {
            font-family: Arial, Helvetica, sans-serif;
            font-size: 0.4em;
        }

        .line-1{
            position: flex;
            top: 50%;  
            width: 24em;
            margin: 0 auto;
            border-right: 2px solid rgba(255,255,255,.75);
            font-size: 50%;
            text-align: left;
            white-space: nowrap;
            overflow: hidden;
            transform: translateY(-50%);    
        }
        
        /* Animation */
        .anim-typewriter{
          animation: typewriter 4s steps(30) 1s 1 normal both,
                     blinkTextCursor 500ms steps(44) infinite normal;
        }
        @keyframes typewriter{
          from{width: 0;}
          to{width: 8em;}
        }
        @keyframes blinkTextCursor{
          from{border-right-color: rgba(255,255,255,.75);}
          to{border-right-color: transparent;}
        }

      }
    }

  }